build.gradle
build/
*.keystore
default.properties
*.der
gradlew
gradlew.bat
mytalkkeystore
lib/
libs/
*.iml
release/
*.eml
priv-app/
private_key.pepk
project.properties
.gradle/
.idea/
gradle/wrapper/
